<div>
    <form class="example-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com" name="email" id="email" >
        <mat-hint>Errors appear instantly!</mat-hint>
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
        }
        @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
        }
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" name="password" id="password">
            <mat-hint>Errors appear instantly!</mat-hint>
            @if (passwordFormControl.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        @if(emailFormControl.hasError('email') || emailFormControl.hasError('required') || passwordFormControl.hasError('required')){
            <button mat-flat-button disabled>submit</button>
        }
        @else {
            <button mat-flat-button type="submit">submit</button>
        }
    </form>
</div>