<div class="container">
    <div class="page-header" >
      <mat-card appearance="outlined" style="width: 100%">
        <mat-card-content class="mat-content">
          <div>
            Email: {{emplyeeDetails().map_properties.employee.email}}
          </div>

          <div>
            Name: {{emplyeeDetails().map_properties.employee.firstName}} {{emplyeeDetails().map_properties.employee.lastName}}
          </div>

          <div>
            Date of Birth: {{emplyeeDetails().map_properties.employee.dateOfBirth | date:'longDate'}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  <div class="generate-and-punch">
    <button mat-button (click)="getReport()">generate repport</button>
    <button mat-button (click)="createPunch()">Punch Now</button>
  </div>
  <div class="date-intervals">
    <button mat-button (click)="changeWeek('prev')" >prev</button>
    <span>{{weekEdges().start_date | date:'longDate'}} - {{weekEdges().end_date | date:'longDate'}}</span>
    <button mat-button (click)="changeWeek('next')">next </button>
  </div>
    @if (response) {
    <table class="blueTable">
        <tr>
            <td class="day">Sunday</td>
            @for (item of getAttendancesBasedOnDay("Sunday"); track $index) {
                <td>
                    @for (item2 of item.punchList; track $index) {
                    <span>{{item2.start | date:'shortTime'}} - {{item2.end | date:'shortTime'}} | </span>
                    }
                </td>
            }
        </tr>

        <tr>
            <td class="day">Monday</td>
            @for (item of getAttendancesBasedOnDay("Monday"); track $index) {
                <td>
                    @for (item2 of item.punchList; track $index) {
                    <span>{{item2.start | date:'shortTime'}} - {{item2.end | date:'shortTime'}} | </span>
                    }
                </td>
            }
        </tr>

        <tr>
            <td class="day">Tuesday</td>
            @for (item of getAttendancesBasedOnDay("Tuesday"); track $index) {
                <td>
                    @for (item2 of item.punchList; track $index) {
                    <span>{{item2.start | date:'shortTime'}} - {{item2.end | date:'shortTime'}} | </span>
                    }
                </td>
            }
        </tr>

        <tr>
            <td class="day">Wednesday</td>
            @for (item of getAttendancesBasedOnDay("Wednesday"); track $index) {
                <td>
                    @for (item2 of item.punchList; track $index) {
                    <span>{{item2.start | date:'shortTime'}} - {{item2.end | date:'shortTime'}} | </span>
                    }
                </td>
            }
        </tr>

        <tr>
            <td class="day">Thursday</td>
            @for (item of getAttendancesBasedOnDay("Thursday"); track $index) {
                <td>
                    @for (item2 of item.punchList; track $index) {
                    <span>{{item2.start | date:'shortTime'}} - {{item2.end | date:'shortTime'}} | </span>
                    }
                </td>
            }
        </tr>

        <tr>
            <td class="day">Friday</td>
            @for (item of getAttendancesBasedOnDay("Friday"); track $index) {
                <td>
                    @for (item2 of item.punchList; track $index) {
                    <span>{{item2.start | date:'shortTime'}} - {{item2.end | date:'shortTime'}} | </span>
                    }
                </td>
            }
        </tr>

        <tr>
            <td class="day">Saturday</td>
            @for (item of getAttendancesBasedOnDay("Saturday"); track $index) {
                <td>
                    @for (item2 of item.punchList; track $index) {
                    <span>{{item2.start | date:'shortTime'}} - {{item2.end | date:'shortTime'}} | </span>
                    }
                </td>
            }
        </tr>

    </table>
    }
</div>
