.container{
  padding: 30px;
}
.page-header{
  display: flex;
}

.mat-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: large;
}

.generate-and-punch{
  display: flex;
  justify-content: space-around;

}
.date-intervals{
  display: flex;
  justify-content: center;
}
.date-intervals span{
  display: flex;
  align-items: center;
}

.blueTable {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.blueTable td,
.blueTable th {
  border: 1px solid #a9c6c9;
  padding: 10px;
  text-align: center;
}

.blueTable .day {
  background-color: #d0e4f5;
  font-weight: bold;
  width: 200px;
}

.blueTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.blueTable tr:hover {
  background-color: #f1f1f1;
}

.blueTable span {
  margin: 5px 0;
}

.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  text-align: left;
  border-spacing: 0;
}

.blueTable tr {
  background: #D0E4F5;
  border-bottom: 1px solid #E6E6E6;
}

.blueTable tr:nth-child(odd) {
  background: #F6F6F6;
}

.blueTable tr:nth-child(even) {
  background: #ffffff;
}
