<div class="container">
    <div class="page-headder d-flex gap-5 fl" >
        <div>
            Email: {{emplyeeDetails().map_properties.employee.email}}
        </div>
        <div>
            Name: {{emplyeeDetails().map_properties.employee.firstName}} {{emplyeeDetails().map_properties.employee.lastName}}
        </div>

        <div>
            Date of Birth: {{emplyeeDetails().map_properties.employee.dateOfBirth | date:'longDate'}}
        </div>

    </div>

    <button (click)="getReport()">generate repport</button>


    <button (click)="createPunch()">Punch Now</button><br>
    <button (click)="changeWeek('prev')">prev</button>
    <span>{{weekEdges().start_date | date:'longDate'}} - {{weekEdges().end_date | date:'longDate'}}</span>
    <button (click)="changeWeek('next')">next</button>
    @if (response) {
    <table class="blueTable">
        <tr>
            <td class="day">Sunday</td>
            @for (item of getAttendancesBasedOnDay("Sunday"); track $index) {
                <td>
                    @for (item2 of item.punchList; track $index) {
                    <span>{{item2.start | date:'shortTime'}} - {{item2.end | date:'shortTime'}} | </span>
                    }
                </td>
            }
        </tr>

        <tr>
            <td class="day">Monday</td>
            @for (item of getAttendancesBasedOnDay("Monday"); track $index) {
                <td>
                    @for (item2 of item.punchList; track $index) {
                    <span>{{item2.start | date:'shortTime'}} - {{item2.end | date:'shortTime'}} | </span>
                    }
                </td>
            }
        </tr>

        <tr>
            <td class="day">Tuesday</td>
            @for (item of getAttendancesBasedOnDay("Tuesday"); track $index) {
                <td>
                    @for (item2 of item.punchList; track $index) {
                    <span>{{item2.start | date:'shortTime'}} - {{item2.end | date:'shortTime'}} | </span>
                    }
                </td>
            }
        </tr>

        <tr>
            <td class="day">Wednesday</td>
            @for (item of getAttendancesBasedOnDay("Wednesday"); track $index) {
                <td>
                    @for (item2 of item.punchList; track $index) {
                    <span>{{item2.start | date:'shortTime'}} - {{item2.end | date:'shortTime'}} | </span>
                    }
                </td>
            }
        </tr>

        <tr>
            <td class="day">Thursday</td>
            @for (item of getAttendancesBasedOnDay("Thursday"); track $index) {
                <td>
                    @for (item2 of item.punchList; track $index) {
                    <span>{{item2.start | date:'shortTime'}} - {{item2.end | date:'shortTime'}} | </span>
                    }
                </td>
            }
        </tr>

        <tr>
            <td class="day">Friday</td>
            @for (item of getAttendancesBasedOnDay("Friday"); track $index) {
                <td>
                    @for (item2 of item.punchList; track $index) {
                    <span>{{item2.start | date:'shortTime'}} - {{item2.end | date:'shortTime'}} | </span>
                    }
                </td>
            }
        </tr>

        <tr>
            <td class="day">Saturday</td>
            @for (item of getAttendancesBasedOnDay("Saturday"); track $index) {
                <td>
                    @for (item2 of item.punchList; track $index) {
                    <span>{{item2.start | date:'shortTime'}} - {{item2.end | date:'shortTime'}} | </span>
                    }
                </td>
            }
        </tr>

    </table>
    }
</div>
